<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRE-VENDA</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf-8">
       $(document).ready(function() {
            $('#pre_vendas').DataTable({
                "language": {
                        "lengthMenu": "Quantidade de produtos por pagina _MENU_",
                        "zeroRecords": "Nem um produto encontrado",
                        "info": "Pagina _PAGE_ de _PAGES_",
                        "infoEmpty": "Nem um produto encontrado",
                        "infoFiltered": "(Filtrado de _MAX_ total de produtos)",
                        "search":         "Pesquisar:",
                        "paginate": {
                            "first":      "Primeira",
                            "last":       "Ultima",
                            "next":       "Proxima",
                            "previous":   "Voltar"
                        },
                },
            });
       });
    </script>
</head>
<body>
<div class="container-fluid">
    <table class="display responsive nowrap table table-striped" id="pre_vendas">
        <thead>
            <tr>
                <th>Documento / Parcela</th>
                <th>Cliente</th>
                <th>Data de Vencimento</th>
                <th>Valor</th>
                <th>Data de Pagamento</th>
                <th>Valor Pago</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in Recebimentos %}
            <tr>
                <td>{{ item.Documento }}-{{ item.Ordem }}</td>
                <td>{{ item.PessoaNome }}</td>
                <td>{{ item.Vencimento|date:"d/m/Y" }}</td>
                <td>{{ item.Historico.0.Valor }}</td>
                <td>{{ item.DataQuitacao|date:"d/m/Y" }}</td>
                <td>{{ item.valor_pago }}</td>
                <td><a href="{% url 'impressao' item.id %}">Imprimir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>