<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listagem</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
</head>
<body class="bg-light">
{% include "menu.html" %}
<div class="container">
    <div class="text-center">
        <h2>Arquivos SNGPC</h2>
    </div>
    <hr class="mb-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                {% for item in items %}
                <tr>
                    <td><a href="{% url 'sngpc:listagem' item.md5 %}">{{ item.item }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</div>
</body>
</html>