<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Tabela de Preço</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/4.1.0/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "datatables/1.10.16/css/dataTables.bootstrap4.min.css" %}">

    <script src="{% static "jquery/2.1.1/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/4.1.0/js/bootstrap.min.js" %}"></script>
</head>
<body>
    {% include "menu.html" %}
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="cliente" class="col-sm-6 col-form-label">Selecione o cliente</label>
                    <select name="cliente" id="cliente" class="form-control">
                        <option value="">Sem filtro de cliente</option>
                        {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.Nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Gerar relatorio</button>
            </div>
        </form>
    </div>
</body>
</html>