<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>PRE-VENDA - {{ items.Numero }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/4.1.0/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "datatables/1.10.16/css/dataTables.bootstrap4.min.css" %}">

    <script src="{% static "jquery/2.1.1/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/4.1.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datatables/1.10.16/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables/1.10.16/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
        function somenteNumeros(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var campo = num;

            if (er.test(campo.value)) {
                campo.value = "1";
            }

            valores = [
                parseFloat({{ valores.1|stringformat:"f" }}).toFixed(2),
                parseFloat({{ valores.2|stringformat:"f" }}).toFixed(2),
                parseFloat({{ valores.3|stringformat:"f" }}).toFixed(2),
                parseFloat({{ valores.4|stringformat:"f" }}).toFixed(2),
            ];
            data = Date.now();
            total = document.getElementById('total');
            parcelas = parseFloat(document.getElementById('parcelas').value);
            desconto = parseFloat(document.getElementById('desconto').value);
            entrada = parseFloat(document.getElementById('entrada').value);
            vencimentos = document.getElementById('vencimentos');
            valor_parcela = document.getElementById('valor');
            if(campo.id === "parcelas" && campo.value < 1 || campo.id === "parcelas" && Number.isInteger(campo.value)) {
                campo.value = "1";
            }

            if (parcelas >= 1 && campo.id == 'parcelas') {
                vencimento = '';
                for (i = 0; i < campo.value; i++) {
                    date = moment().add((i+1), 'months').format('YYYY-MM-DD');
                    vencimento = vencimento + '<div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">' +
                        '<label for="vencimentos">'+(i+1)+'º Parcela</label>' +
                        '<input type="date" value="'+date+'" class="form-control" name="vencimentos[]" required="required">' +
                        '</div>';
                }
                vencimentos.innerHTML = vencimento
            }

            valor_parcela.value = (
                (valores[parseInt(total.value)-1] - entrada - desconto) / parcelas
            ).toFixed(2).replace('.', ',');

        }
    </script>
</head>
<body>
{% include "menu.html" %}
<div class="container page">
    <form action="{% url 'financeiro:renegociacao_lancamento' %}" method="post">
        {% for parcela in parcelas %}
            <input type="hidden" name="parcela" value="{{ parcela }}">
        {% endfor %}
        <input type="hidden" name="id_cliente" value="{{ cliente.id }}">
        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="cliente">Cliente</label>
                <input type="text" id="cliente" class="form-control" value="{{ cliente.Nome }}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="conta">Conta</label>
                <select id="conta" name="conta" class="form-control" required="required">
                    {% for conta in contas %}
                    <option value="{{ conta.id }}">{{ conta.Descricao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="centro_custo">Centro de custo</label>
                <select id="centro_custo" name="centro_custo" class="form-control" required="required">
                    {% for custo in centros_custos %}
                    <option value="{{ custo.CodigoUnico }}">{{ custo.CodigoUnico }} - {{ custo.Descricao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="planos_contas">Plano de contas</label>
                <select id="planos_contas" name="planos_contas" class="form-control" required="required">
                    {% for plano in planos_conta %}
                    <option value="{{ plano.CodigoUnico }}">{{ plano.CodigoUnico }} - {{ plano.Descricao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="total">Total</label>
                <select id="total" name="total" class="form-control" required="required" onchange="somenteNumeros(this)">
                    <option value="1">{{ valores.1|floatformat:2 }} (Valor total)</option>
                    <option value="2">{{ valores.2|floatformat:2 }} (Valor total + Juros)</option>
                    <option value="3">{{ valores.3|floatformat:2 }} (Valor total + Multa)</option>
                    <option value="4" selected="selected">{{ valores.4|floatformat:2 }} (Valor total + Juros + Multa)</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="parcelas">Parcelas</label>
                <input type="text" class="form-control" id="parcelas" name="parcelas" maxlength="2" onkeyup="somenteNumeros(this);" placeholder="Digite a quantidade de parcelas" required="required">
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="entrada">Entrada</label>
                <input type="number" class="form-control" id="entrada" name="entrada" min="0" max="{{ items.Total|stringformat:"f" }}" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'" value="0.00" onkeyup="somenteNumeros(this);">
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="desconto">Desconto</label>
                <input type="number" class="form-control" id="desconto" name="desconto" min="0" max="{{ items.Total|stringformat:"f" }}" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'" value="0.00" onkeyup="somenteNumeros(this);">
            </div>
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="valor">Valor Parcela</label>
                <input type="text" class="form-control" id="valor" value="0" readonly>
            </div>
        </div>
        <div class="form-row" id="vencimentos">
        </div>
        {% csrf_token %}
        <div class="form-row">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Gerar financeiro</button>
        </div>
    </form>
</div>
</body>
</html>