<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Data Hora de Emissao</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.Numero }}</td>
                <td>{{ item.Pessoa.Nome }}</td>
                <td>{{ item.DataHoraEmissao }}</td>
                <td><a href="{% url 'impressao' item.Numero %}">Imprimir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>