<header class="mb-3">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark voltar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav main-nav">
                    <li class="nav-item dropdown" role="presentation">
                        <a class="nav-link text-white" href="#" data-toggle="dropdown">Pessoas</a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'pessoas:listagem' %}">Clientes</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'financeiro:cartas_gerador' %}">Cartas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown" role="presentation">
                        <a class="nav-link text-white" href="#" data-toggle="dropdown">Movimentações</a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'movimentacoes:listagem_movimentacoes' %}">Listagem</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'relatorios:index' %}">Relatorios</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown" role="presentation">
                        <a class="nav-link text-white" href="#" data-toggle="dropdown">Estoque</a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'estoque:tabelas' %}">Tabela Preço - Listagem</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'estoque:tabela_create' %}">Tabela Preço - Novo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'sngpc:index' %}">Sngpc</a>
                    </li>
                    <li class="nav-item dropdown" role="presentation">
                        <a class="nav-link text-white" href="#" data-toggle="dropdown">Restaurante</a>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'restaurante:index' %}">Inicio</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link text-dark" href="{% url 'restaurante:lista_mesas_fechadas' %}">Lista mesas fechadas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>