<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatorios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script>
        window.onload=function() {
            document.getElementById('relatorio').relatorioAction.onchange = function () {
                const clientediv = document.getElementById('clientediv');
                const cliente = document.getElementById('cliente');

                const inicialdiv = document.getElementById('inicialdiv');
                const inicial = document.getElementById('inical');

                const finaldiv = document.getElementById('finaldiv');
                const final = document.getElementById('final');

                const vendedordiv = document.getElementById('vendedordiv');
                const vendedor = document.getElementById('vendedor');

                const mostradiv = document.getElementById('mostradiv');
                const vendas = document.getElementById('vendas');

                const fiscaldiv = document.getElementById('fiscaldiv');
                const fiscal = document.getElementById('fiscal');

                var newaction = this.value;
                document.getElementById('relatorio').action = newaction;

                if (newaction === "{% url 'relatorios:operacoes_por_pessoa' %}"){
                    clientediv.style.display = "block";
                    cliente.required = true;

                    vendedordiv.style.display = "none";
                    vendedor.required = false;

                    mostradiv.style.display = "none";
                    fiscaldiv.style.display = "block";

                }else if (newaction === "{% url 'relatorios:prevendas_por_vendedor' %}"){
                    mostradiv.style.display = "block";

                    clientediv.style.display = "none";
                    cliente.required = false;

                    vendedordiv.style.display = "block";
                    vendedor.required = false;

                    fiscaldiv.style.display = "none";
                }else if(newaction === "{% url 'relatorios:prevendas_por_usuario' %}"){
                    mostradiv.style.display = "block";

                    clientediv.style.display = "none";
                    cliente.required = false;

                    vendedordiv.style.display = "none";
                    vendedor.required = false;

                    fiscaldiv.style.display = "none";
                }
                else if(newaction === "{% url 'relatorios:listagem_produtos_personalizado1' %}"){
                    mostradiv.style.display = "none";

                    clientediv.style.display = "none";
                    cliente.required = false;

                    vendedordiv.style.display = "none";
                    vendedor.required = false;

                    inicialdiv.style.display = 'none';
                    inicial.required = false;

                    finaldiv.style.display = "none";
                    final.required = false;

                    fiscaldiv.style.display = "none";
                }
                else{
                    inicialdiv.style.display = 'block';
                    inicial.required = true;

                    finaldiv.style.display = "block";
                    final.required = true;

                    clientediv.style.display = "none";
                    cliente.required = false;

                    vendedordiv.style.display = "none";
                    vendedor.required = false;

                    fiscaldiv.style.display = "none";
                    mostradiv.style.display = "none";

                }
            };
        }
    </script>
</head>
<body>
    {% include "menu.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method="post" action="#" class="form" id="relatorio">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="relatorioAction" class="col-sm-6 col-form-label">Selecione o relatorio</label>
                        <select name="relatorioAction" id="relatorioAction" class="form-control" required="required">
                            <option>Selecione o relatorio</option>
                            <option value="{% url 'relatorios:operacoes_por_pessoa' %}">Operações por pessoa</option>
                            <option value="{% url 'relatorios:sintetico_produtos' %}">Sinteticos de produtos</option>
                            <option value="{% url 'relatorios:prevendas_por_vendedor' %}">Pré-Vendas por Vendedor</option>
                            <option value="{% url 'relatorios:prevendas_por_usuario' %}">Pré-Vendas por Usuario</option>
                            <option value="{% url 'relatorios:listagem_produtos_personalizado1' %}">Listagem de Produtos Personalizado 1</option>
                        </select>
                    </div>
                    <div class="form-group" id="clientediv" style="display: none;">
                        <label for="cliente" class="col-sm-6 col-form-label">Selecione o cliente</label>
                        <select name="cliente" id="cliente" class="form-control">
                            <option value="">Sem filtro de cliente</option>
                            {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.Nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="vendedordiv" style="display: none;">
                        <label for="vendedor" class="col-sm-6 col-form-label">Selecione o vendedor</label>
                        <select name="vendedor" id="vendedor" class="form-control">
                            <option value="">Sem filtro de vendedor</option>
                            {% for vendedor in vendedores %}
                            <option value="{{ vendedor.id }}">{{ vendedor.Nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="display: block;" id="inicialdiv">
                        <label for="inical" class="col-sm-6 col-form-label">Escolha a data inicial</label>
                        <input type="date" name="inical" id="inical" class="form-control" required="required">
                    </div>
                    <div class="form-group" style="display: block;" id="finaldiv">
                        <label for="final" class="col-sm-6 col-form-label">Escolha a data final</label>
                        <input type="date" name="final" id="final" class="form-control" required="required">
                    </div>
                    <div class="form-group" style="display: none;" id="mostradiv">
                        <label for="vendas" class="col-sm-6 col-form-label">Mostrar vendas</label>
                        <input type="checkbox" name="vendas" id="vendas" class="form-control">
                    </div>
                    <div class="form-group" style="display: none;" id="fiscaldiv">
                        <label for="fiscal" class="col-sm-6 col-form-label">Somente notas fiscais</label>
                        <input type="checkbox" name="fiscal" id="fiscal" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Gerar relatorio</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>