<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <style>
        * {
            font-family: 'Arial';
            font-size: 8.0pt;
        }
        @page {
            size: A4;
            margin: 0;
            padding: 0;
            border-color: black;
            background-color: white;
        }
        .page{
            size: A4;
            background-color: white;
        }
        td {
            width: 10%;
        }
        @media print {
            .container{
                margin: 0!important;
                padding: 0!important;
                min-width: 210mm!important;
                max-width: 210mm!important;
                min-height: 297mm!important;
                max-height: 297mm!important;
            }
            html, body {
                width: 210mm!important;
                height: 297mm!important;
            }
            .page {
                margin: 0 2cm 0cm 2cm !important;
                height: 291mm!important;
                width: 206mm!important;
                padding: 0!important;
                border: initial!important;
                border-radius: initial!important;
                width: initial!important;
                min-height: initial!important;
                page-break-after: always!important;
            }
            .volta{
                display: none;
            }
        }
    </style>
</head>
<body>
    {% include "menu.html" %}
    <div class="container page">
        <div class="row">
            <table style="margin: 10px; border: #000000 1px solid; width: 100%" border="1">
                <tbody>
                    <tr>
                        <td rowspan="12" style="text-align: center; width: 10%">1<br>I<br>D<br>E<br>N<br>T.<br></td>
                        <td colspan="7" rowspan="2" style="text-align: center;"><h4>MAPA DE CONTROLE DE MOVIMENTAÇÃO MENSAL</h4></td>
                        <td colspan="2" style="text-align: center; font-weight: bold;">NÚMERO</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">1</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="font-weight: bold;">RAZÃO SOCIAL</td>
                        <td colspan="2" style="text-align: center;font-weight: bold;">REGISTRO ANP</td>
                    </tr>
                    <tr>
                        <td colspan="7">R DE C F MACHADO DE CARVALHO COM. DE GAS E BEBIDAS-ME</td>
                        <td colspan="2" style="text-align: center;">GLP/RJ0244918</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="font-weight: bold;">TIPO DE INSTALAÇÕES</td>
                        <td colspan="2" style="text-align: center;font-weight: bold;">CAPACIDADE DE ARMAZ. (Kg)</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="font-weight: bold;">Dep. D (  ) Dep. R (  ) PRT (  ) PRD (  )</td>
                        <td colspan="2" style="text-align: center;font-weight: bold;"></td>
                    </tr>
                    <tr>
                        <td colspan="7" style="font-weight: bold; text-align: center">DEPOSITO</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">DISTRIBUIDORA</td>
                        <td colspan="7">R DE C F MACHADO DE CARVALHO COM. DE GAS E BEBIDAS-ME</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;">ENDEREÇO:</td>
                        <td colspan="7">AV DOM PEDRO II S/N AREA A CENTRO</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; text-align: center;">CIDADE</td>
                        <td colspan="2" style="text-align: center;">PORTO REAL</td>
                        <td style="font-weight: bold; text-align: center;">CÓDIGO</td>
                        <td colspan="1" style="text-align: center;"></td>
                        <td style="font-weight: bold; text-align: center;">UF</td>
                        <td style="text-align: center;">RJ</td>
                        <td style="font-weight: bold; text-align: center;">C.G.C</td>
                        <td style="text-align: center;" colspan="1">23910494000147</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-weight: bold;">MOVIMENTO MÊS/ANO:</td>
                        <td colspan="4" style="font-weight: bold;">RESPONSÁVEL:</td>
                    </tr>
                    <tr>
                        <td colspan="5">OUTUBRO/2019</td>
                        <td colspan="4">LEONARDO POVOA MARFORIO</td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">2</td>
                        <td style="text-align: center;font-weight: bold;">ESPECÍE DE RECIPIENTES</td>
                        <td style="text-align: center;font-weight: bold;">P02</td>
                        <td style="text-align: center;font-weight: bold;">P05</td>
                        <td style="text-align: center;font-weight: bold;">P07</td>
                        <td style="text-align: center;font-weight: bold;">P08</td>
                        <td style="text-align: center;font-weight: bold;">P13</td>
                        <td style="text-align: center;font-weight: bold;">P20</td>
                        <td style="text-align: center;font-weight: bold;">P45</td>
                        <td style="text-align: center;font-weight: bold;">P90</td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">3</td>
                        <td style="text-align: center;font-weight: bold;">SALDO DO MÊS ANTERIOR</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;" rowspan="4">4<br />E<br />N<br />T<br />R<br />A<br />D<br />A</td>
                        <td style="text-align: center;font-weight: bold;">DOCUMENTO FISCAL<br />ESPÉCIE, Nº, SÉRIE E DATA</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">&nbsp;</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">Transportado da planilha anexa</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">TOTAL OU A TRANSPORTAR</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;" rowspan="6">5<br />S<br />A<br />Í<br />D<br />A</td>
                        <td style="text-align: center;font-weight: bold;">ENTREGA NORMAL</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">ENTREGA EVENTUAL</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">PRD OU PRR</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">REPRES., PRT, PRD OU PRR</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">OUTRAS SAÍDAS</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">VENDAS DO MÊS - SOMA</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">6</td>
                        <td style="text-align: center;font-weight: bold;">SALDO PARA O MÊS SEGUINTE</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;font-weight: bold;">LOCAL:</td>
                        <td style="text-align: center;" colspan="3"></td>
                        <td style="text-align: center;font-weight: bold;">DATA:</td>
                        <td style="text-align: center;" colspan="2"></td>
                        <td style="text-align: center;font-weight: bold;">Visto do Agente</td>
                        <td style="text-align: center;" colspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>