<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>COMPROVANTE DE DEBITO</title>
    <link rel="stylesheet" href="{% static "bootstrap/4.1.0/css/bootstrap.min.css" %}">
    <script src="{% static "jquery/3.2.1/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "popper/1.12.9/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/4.1.0/js/bootstrap.min.js" %}"></script>
    <style>
        .page{
            width: 210mm;
            min-height: 297mm;
            padding: 10mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        @page {
            size: A4;
            margin: 0;
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                page-break-after: always;
            }
            .volta{
                display: none;
            }
        }
    </style>
</head>
<body>
{% include "menu.html" %}
<div class="container-fluid page">
    {% if Contrato.0.id_g6 != '' %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {{ Emitente.Nome }}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                DATA.: {{ Data }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                CNPJ.: {{ Emitente.Cnpj }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ Emitente.Carteira.EnderecoPrincipal.Logradouro }},
                {{ Emitente.Carteira.EnderecoPrincipal.Numero }},
                {% if Emitente.Carteira.EnderecoPrincipal.Complemento %}
                    {{ Emitente.Carteira.EnderecoPrincipal.Complemento }},
                {% endif %}
                {{ Emitente.Carteira.EnderecoPrincipal.Bairro }},
                {{ Emitente.Carteira.EnderecoPrincipal.Municipio.Nome }},
                {{ Emitente.Carteira.EnderecoPrincipal.Municipio.Uf.Nome }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                TELEFONE.: {{ Emitente.TelefonePrincipal }}
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" align="right">
                VENDEDOR.: {{ Prevenda.Vendedor.Nome }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                DOCUMENTO.: {{ Contrato.0.id }}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                RECIBO DE ENTREGA DE PRODUTOS
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                CLIENTE.: {{ Cliente.Nome }}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {% if Prevenda.Pessoa.Cpf %}
                    CPF.: {{ Cliente.Cpf }}
                {% elif Cliente.Cnpj %}
                    CNPJ.: {{ Cliente.Cnpj }}
                {% else %}
                    Sem documento
                {% endif %}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                P R O D U T O
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                QUANTIDADE
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                PRECO UNIT
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                TOTAL
            </div>
        </div>
        <hr />
        {% for item in Mov.ItensBase %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {{ item.ProdutoServico.Descricao }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{ item.Quantidade|floatformat:2 }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{ item.PrecoUnitario|floatformat:2 }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{ item.bruto|floatformat:2 }}
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <br />
    <br />
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            TOTAL A PAGAR.: {{ Prevenda.Total_Bruto|floatformat:2 }}
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: hidden" align="center">
            __________________/______de _______ de ________ ________________________________________________<br />
            Local, Data e Assinatura do Recebedor
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{ Emitente.Nome }}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            DATA.: {{ Data }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            CNPJ.: {{ Emitente.Cnpj }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ Emitente.Carteira.EnderecoPrincipal.Logradouro }},
            {{ Emitente.Carteira.EnderecoPrincipal.Numero }},
            {% if Emitente.Carteira.EnderecoPrincipal.Complemento %}
                {{ Emitente.Carteira.EnderecoPrincipal.Complemento }},
            {% endif %}
            {{ Emitente.Carteira.EnderecoPrincipal.Bairro }},
            {{ Emitente.Carteira.EnderecoPrincipal.Municipio.Nome }},
            {{ Emitente.Carteira.EnderecoPrincipal.Municipio.Uf.Nome }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            TELEFONE.: {{ Emitente.TelefonePrincipal }}
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" align="right">
            VENDEDOR.: {{ Prevenda.Vendedor.Nome }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            DOCUMENTO.: {{ Contrato.0.id }}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            COMPROVANTE DE DEBITOS
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            CLIENTE.: {{ Cliente.Nome }}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% if Prevenda.Pessoa.Cpf %}
                CPF.: {{ Cliente.Cpf }}
            {% elif Cliente.Cnpj %}
                CNPJ.: {{ Cliente.Cnpj }}
            {% else %}
                Sem documento
            {% endif %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            VENCIMENTO
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            VALOR A PAGAR
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            VALOR PAGO
        </div>
    </div>
    <hr />
    {% for parcela in Parcelamento %}
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ parcela.Vencimento|date:"d/m/Y" }}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ parcela.Valor|floatformat:2 }}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ parcela.Pago|floatformat:2 }}
        </div>
    </div>
    {% endfor %}
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Saldo devedor.: {{ Prevenda.bruto|floatformat:2 }}
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            CLIENTE.: {{ Cliente.Nome }}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% if Cliente.Cpf > 0 %}
                CPF.: {{ Cliente.Cpf }}
            {% elif Cliente.Cnpj > 0 %}
                CNPJ.: {{ Cliente.Cnpj }}
            {% else %}
                Sem documento
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ Cliente.Carteira.EnderecoPrincipal.Logradouro }},
            {{ Cliente.Carteira.EnderecoPrincipal.Numero }},
            {% if Cliente.Carteira.EnderecoPrincipal.Complemento %}
                {{ Cliente.Carteira.EnderecoPrincipal.Complemento }},
            {% endif %}
            {{ Cliente.Carteira.EnderecoPrincipal.Bairro }},
            {{ Cliente.Carteira.EnderecoPrincipal.Municipio.Nome }},
            {{ Cliente.Carteira.EnderecoPrincipal.Municipio.Uf.Nome }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Reconheço e Pagarei pelo Debito Acima Informado
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 border-top border-dark" align="center">
                Assinatura do Cliente
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 border-top border-dark" align="center">
                Assinatura Representante Empresa
            </div>
        </div>
    </div>
</div>
</body>
</html>