<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>PRE-VENDA</title>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datatables/1.10.16/css/dataTables.bootstrap4.min.css" %}">
    <script type="text/javascript" charset="utf-8">
       $(document).ready(function() {
            $('#pre_vendas').DataTable({
                "language": {
                        "lengthMenu": "Quantidade de movimentações por pagina _MENU_",
                        "zeroRecords": "Nem uma movimentação encontrado",
                        "info": "Pagina _PAGE_ de _PAGES_",
                        "infoEmpty": "Nem um produto encontrado",
                        "infoFiltered": "(Filtrado de _MAX_ total de movimentações)",
                        "search":         "Pesquisar:",
                        "paginate": {
                            "first":      "Primeira",
                            "last":       "Ultima",
                            "next":       "Proxima",
                            "previous":   "Voltar"
                        },
                },
                "order": [[ 3, "desc" ]]
            });
       });
    </script>
</head>
<body>
    {% include "menu.html" %}
    <div class="container-fluid">
        <table class="display responsive nowrap table table-striped" id="pre_vendas">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th>Data Hora de Emissao</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.Numero }}</td>
                    <td>{{ item.Pessoa.Nome }}</td>
                    <td>{{ item.DataHoraEmissao|date:"d/m/Y" }}</td>
                    <td>
                        {% if item.prevenda == 1 %}
                            <a href="{% url 'movimentacoes:impressao_prevenda' item.id %}">Imprimir</a>
                            {% if item.Situacao.Codigo == 1 %}
                                | <a href="{% url 'movimentacoes:gerar_financeiro' item.id %}">Gerar Financeiro</a>
                            {% elif item.PagamentoRecebimento.0.id > 0 %}
                                | <a href="{% url 'financeiro:comprovante_de_debito_por_movimentacao' item.PagamentoRecebimento.0.id  %}">Comprovante de Débito</a>
                            {% endif %}
                        {% elif item.NotaFiscalServico == 1 %}
                            <a href="{% url 'movimentacoes:impressao_prevenda' item.id %}">Imprimir</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static "datatables/1.10.16/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables/1.10.16/js/dataTables.bootstrap4.min.js" %}"></script>
</body>
</html>